<div class="sidebar">  
  <div class="inbox btn btn__action" role="button">Inbox</div>
  <div class="today btn btn__action" role="button">Today</div>
  <div class="later btn btn__action" role="button">Later</div>

  <div class="entities">
    <div>
      <h3>Acive entities</h3>
      <%= link_to  "+", new_entity_path, class: "btn__link" %>
    </div>
    <div class="entities__active">
      <% if @global_entities.nil? %>
        <span>There's nothing to show</span>
      <% else %>
        <% @global_entities.each do |e| %>
          <div class="entities__item--active">
            <span>&#x25cf;</span><%= link_to e.name, entity_path(e.id), class: "btn btn__link" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <h3>Locked</h3>
    </div>
    <div class="entities__locked">
      <% if @entity_locked.nil? %>
        <span>There's nothing to show</span>
      <% else %>
        <% @entity_locked.each do |e| %>
          <div class="entities__item--locked">
            <span>&#x25cf;</span><%= link_to e.name, entity_path(e.id), class: "btn btn__link" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>