<div class="sidebar">
  <div class="sidebar__header">
    <h2>Entities</h2>
    <%= link_to  "+", new_entity_path, class: "btn btn__link" %>
  </div>
  
  <div class="inbox" role="button">Inbox</div>
  <div class="today" role="button">Today</div>
  <div class="later" role="button">Later</div>

  <div class="entities">
    <% if @entity.nil? %>
      <span>No hay nada para mostrar</span>
    <% else %>
      <% @entity.each do |e| %>
        <%= link_to e.name, entity_path(e.id), class: "btn btn__action" %>
      <% end %>
    <% end %>
  </div>
</div>