<div class="entity">
  <div class="entity__header">
    <div class="entity__header--info">
      <span><%= @single_entity.name %></span>
      <br>
      <span><%= @single_entity.status %></span>
    </div>
    <div class="entity__header--actions">
      <%= link_to "New task", "#{new_task_path}/#{@single_entity.id}", class: "btn btn__link"%>
      <div class="filter btn btn__action" role="button">Filter</div>
      <div class="sort btn btn__action" role="button">Sort</div>
      <div class="show_options btn btn__action" role="button">...</div>
      <div class="options">
        <div class="lock_entity btn btn__action">Lock entity</div>
        <div class="clear_entity btn btn__action">Clear entity</div>
        <div class="delete_entity btn btn__action">Delete entity</div>
        <div class="update_entity btn btn__action">Update entity</div>
      </div>
    </div>
  </div>
  <div class="entity__body">
    <%= render 'shared/tasks' %>
  </div>
</div>
