@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,600&display=swap');
@import 'variables';

*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-f;
  background-color: #FDFDFD;
  font-size: $font-size-std;
  overflow: hidden;
}

h1 { font-size: $font-size-xxxl;  font-weight: 700; }
h2 { font-size: $font-size-xxl;  font-weight: 600; }
h3 { font-size: $font-size-xl;  font-weight: 500; }
h4 { font-size: $font-size-std;  font-weight: 300; }
h5 { font-size: $font-size-std; font-weight: 300; }
h6 { font-size: $font-size-sm; font-weight: 200; }

input[type="text"], select, textarea {
  border: 1px solid $border;
  border-radius: $border-rad-3;
  font-size: $font-size-std;
  padding: 5px;
  outline: none;
  width: 15rem;
}

input::placeholder { color: #a0a0a0; }

.main {
  height: calc(100vh - 50px);
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: calc(100vh - 50px);
}

.btn {
  border: none;
  outline: none;
  padding: 7px;
  border-radius: $border-rad-3;
  color: #2b2a2a;
  font-size: $font-size-sm;
  font-family: 'Montserrat';
  background-color: transparent;
}

.btn__link { text-decoration: none; }

.btn__link--locked,
.btn__action--locked {
  color: #747474;
  pointer-events: none;
}

.btn, .btn__action, .btn__link {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
}

:where(.inbox, .today, .later, .entities__active, .btn__link, .btn__action):hover {
  background-color: #f3f1ed;
}
