$navbar-bg: #504B4C;

$font-f: 'Montserrat';

$font-size-xs: 0.7rem;
$font-size-sm: 0.86rem;
$font-size-std: 0.96rem;
$font-size-xl: 1.3rem;
$font-size-xxl: 1.38rem;
$font-size-xxxl: 1.45rem;

$font-color-danger: rgba(227, 14, 27, 0.85);
$font-color-warnin: rgba(227, 142, 14, 0.89);
$font-color-success: rgba(67, 176, 15, 0.85);

$bg-danger: rgba(237, 166, 166, 0.3);
$bg-warning: rgba(255, 224, 114, 0.3);
$bg-success: rgba(122, 246, 63, 0.3);
$bg-info-light: rgba(230, 249, 244, 1);

$border-rad-3: 3px;
$border-rad-6: 6px;
$border-rad-8: 8px;

$border: rgba(161, 161, 161, 0.87);